.sidecontentpullout {
			background: #E5E5E5;
			color: #0E2E19;
              margin-top: 50px;
			padding: 4px 3px;
    width: 50px;
			-moz-border-radius-bottomleft: 1em;
			-moz-border-radius-topleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			-webkit-border-top-left-radius: 1em;
			border-bottom-left-radius: 1em;
			border-top-left-radius: 1em;
		}

		.sidecontentpullout:hover {
			background-color: #444444;
			color: White;
		}

		.sidecontent {
			background-color: #F5F2F2;
			color: #468558;
            margin-top: 50px;
			-moz-border-radius-bottomleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			border-bottom-left-radius: 1em;

		}

		.sidecontent > div > div {
			padding-left: 10px;
			padding-right: 40px;
		}
.pull-out-head{
    text-align: justify;

}
.btn-a{
    height: 35px;
    width: auto;
    cursor: pointer;
    border: 2px solid #468558;
    background: #468558;
    	-moz-border-radius-bottomleft: 1em;
			-moz-border-radius-topleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			-webkit-border-top-left-radius: 1em;
    color: white;
    text-align: center;
    padding-top: 5px;

}
.hdr-pll-out{
    height: 40px;
    background: #468558;
    width: 100%;

}
