body{
background: #BFE2CC;
}

.sidecontentpullout {
			background: #E5E5E5;
			color: #0E2E19;
              margin-top: 50px;
			padding: 4px 3px;
    width: 50px;
			-moz-border-radius-bottomleft: 1em;
			-moz-border-radius-topleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			-webkit-border-top-left-radius: 1em;
			border-bottom-left-radius: 1em;
			border-top-left-radius: 1em;
		}

		.sidecontentpullout:hover {
			background-color: #444444;
			color: White;
		}

		.sidecontent {
			background-color: #F5F2F2;
			color: #468558;
            margin-top: 50px;
			-moz-border-radius-bottomleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			border-bottom-left-radius: 1em;

		}

		.sidecontent > div > div {
			padding-left: 10px;
			padding-right: 40px;
		}
.pull-out-head{
    text-align: justify;
   width: 300px;

}
.btn-a{
    height: 35px;
    width: auto;
    cursor: pointer;
    border: 2px solid #468558;
    background: #468558;
    	-moz-border-radius-bottomleft: 1em;
			-moz-border-radius-topleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			-webkit-border-top-left-radius: 1em;
    color: white;
    text-align: center;
    padding-top: 5px;

}
.hdr-pll-out{
    height: 40px;
    background: #468558;
    width: 100%;

}
.my-text{
    width: 250px;
    text-align: justify;
}
#notfound {
  margin:0 auto;
}
#notfound svg {
  -webkit-animation: noise 2s linear infinite;
  animation: noise 2s linear infinite;
}
@-webkit-keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% { -webkit-transform: scaleY(1); }
  4.3% { -webkit-transform: scaleY(1.7); }
  43% { -webkit-transform: scaleX(1.5); }
}
@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% { transform: scaleY(1); }
  4.3% { transform: scaleY(1.7); }
  43% { transform: scaleX(1.5); }
}
.body-begin{

    height: 300px;
    margin-top: 20px;

}
.center-row{
height: 300px;

    width: 100%;
}
.processes{

    height: 300px;
    border:solid 0.5px black;

}
.projects{
    height: 500px;
    width: 100%;
    margin-top: 20px;
}
.projs{
    height: 400px;
      border:solid 0.5px black;
}
